body {
	background-color: #f9f9f9;
	color: #909090; 
	font-family: Verdana, Geneva, sans-serif; 
	font-size: 12px; 
	margin: 0px; 
	padding: 0px; 
	line-height: 1.5;
}

h1 {
	font-family: Georgia, "Times New Roman", Times, serif; 
	color: #000000; 
	margin: 0px; 
	font-weight: normal;
	font-size: 24px;
}

h2 {
	font-family: Georgia, "Times New Roman", Times, serif; 
	color: #000000; 
	margin: 0px; 
	font-weight: normal; 
	font-size: 18px;
}

h3 {
	font-family: Georgia, "Times New Roman", Times, serif; 
	color: #000000; 
	margin: 0px; 
	font-weight: normal; 
	font-size: 14px;
}

h4 {
	text-align: right; 
	font-weight: normal; 
	font-size: 11px; 
}

blockquote {
	font-size: 11px; 
	font-style: italic;
}

table {
	width: 960px; 
	border-collapse: collapse; 
	margin: auto;
}

span {
	color: #000000;
}

div.topline {
	height: 10px; 
	background-color: #696969;
}

td.menu {
	width: 144px;
} 

table.index-header img.splash { 
	border: 5px solid #FFFFFF; 
}

td.footer {
	font-size: 10px; 
	background-color: #e6e6e6; 
	text-align:  center; 
}

td {
	vertical-align: top; 
	padding: 10px;
}
 
li.current { 
	background-color: #e6e6e6;
}

td.menu li { 
	font-size: 11px; 
	padding: 10px; 
	border-bottom: 1px solid #909090;
}

td.menu ul {
	list-style-image: url(img/menu-arrow.png); 
	list-style-position: inside; 
	padding: 0px; 
	border-top: 1px solid #909090; 
	margin: 30px 0px 30px 0px;
}

td.menu a {
	color: #909090;  
	text-decoration: none;
}

td.menu a:hover {
	color: #000000;
}

table.index-content td {
	width: 33%;
}

table.index-content h1  {
	border-bottom: 1px solid #909090;
	padding: 12px;
}
